.story-post-module {
  margin-bottom: 2em;
}

.story-post-module img {
  display: block;
  height: auto;
  width: 100%;
}

.story-post-module article {
  margin-bottom: 30px;
}

.story-information-module {
  border: 1px solid #333;
  padding: 15px;
}

.story-contributor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.story-contributor-list li {
  margin: 0 .5em;
}

