.grid:after {
  content: '';
  display: block;
  clear: both;
}

.gutter-sizer {
  width: 1.5%;
}

.grid-sizer,
.grid-item {
  margin-bottom: 1.5%;
  width: 31.5%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

.story-post-module {
  margin-bottom: 2em;
}

.story-post-module img {
  display: block;
  height: auto;
  width: 100%;
}

.story-information-module {
  border: 1px solid #333;
  margin-bottom: 1em;
  padding: 15px 15px 0;
}

.story-contributor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.story-contributor-list li {
  margin: 0 .5em;
}

