body {
  font-family: 'Didact Gothic', sans-serif;
}

.title-block {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

.content-block {
  margin-bottom: 2em;
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.category-list li {
  display: inline;
}

.content-block img,
.content-block video {
  max-width: 100%;
}

.story-information-module {
  border: 1px solid #333;
  padding: 15px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#post-404 {
  margin: 250px 0;
}

.not-found-btn {
  margin: 50px 0;
  text-align: center;
}
