body {
  font-family: 'Didact Gothic', sans-serif;
}

.map {
  background-color: #ccc;
  height: 200px;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}