body {
  font-family: 'Didact Gothic', sans-serif;
}

.title-block {
  padding: 2em 0;
}

.content-block {

}

.content-block img,
.content-block video {
  max-width: 100%;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#post-404 {
  margin: 250px 0;
}

.not-found-btn {
  margin: 50px 0;
  text-align: center;
}
